/* A simple "bento box" layout for the PandaBrew TUI */

#main-container {
    layout: horizontal;
    height: 100%;
}

#left-pane {
    width: 50%;
    padding: 1;
    border-right: solid $primary;
}

#right-pane {
    width: 50%;
    padding: 1;
}

#directory-tree-container {
    height: 80%;
    border: solid $primary;
    margin-top: 1;
}

#mode-selection {
    height: 10%;
}

#status-label {
    margin-top: 1;
    height: 10%;
    border: solid $primary;
    padding: 1;
}
